# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.egg-link
pip-wheel-metadata/

# Virtual environments
venv/
env/
.venv/
ENV/
MLPROJ1/

# Distribution / packaging
.Python

# Logs
logs/
*.log

# ML artifacts (models, data)
artifacts/
dataset/*
*.pkl

# MLflow
mlruns/
mlartifacts/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# pytest / coverage
.pytest_cache/
.coverage
htmlcov/

*.lock
mlflow.db